In [1]:
1+1

2

# Git:

1. git clone git@github.com:cloudxlab/june_2025_iitr.git
2. cd june_2025_iitr
3. git add 1.\ Intro.ipynb
4. git commit -m "class notes" .
5. git push

# For you:

git clone https://github.com/cloudxlab/june_2025_iitr.git

# Fixing a bug

- Create a branch
- Fix the bug: fix the code, testing
- git add/commit/push. 
- Create something call a pull request - #PR

# Getting new updates

git pull

In [ ]:
# Create a number system,

Choose a number between 3 and 13 except for 10. We call it base.

In [ ]:
# Base 10
We have total 10 symbols - 0, 1,....9, 10

# Base 5
0
1
2
3
4
10
11
12
13
14
20
...
24
30
..
..
44
100
..
134
140

In [ ]:
# Base 14
0, 1, 2, 3, .....9, A, B, C, D, 10, 11,12....1C, 1D, 20, ....2D, 30,

In [ ]:
# Base 64
Letter, numbers, _-
0,1,...9,A,....Z, a,..z, _=10....1_, 20...2_,.....___

In [ ]:
# Base 6
0
1
2
3
4
5
10
11
12
13
14
15
20
..

In [ ]:
can you pl explain base 5 only how 100 came after 44

In [ ]:
4
10
11
12
13
14
20
21
22
23
24
30
..
34
40
..
44
100

because when we add 1 in the "one's place" (The rightmost 4), we get a 5, which will carry over to the next 4, which in itself becomes a "5". Since we are in base 5, we now have 5 5's, or one 5^2, which means it would be compared to 10^2 in base 10 or 100

I was going to ask that even though it is absurd if we come up with our own arethimetic operations can't we define them such that the operations make sense even if the increment happens on the lhs, apologies about the mic issue I will rejoin from another device

Actually that concept is out there… it’s the Big-Endian vs Little-Endian system when applied to base 10.  The normal number system can be viewed as Big-Endian.

In [ ]:
base 9
0
1
2
3
4
5
6
7
8
10
11
12
13
14
15
16
17
18
20

In [ ]:
You have 7 symbols - 0,1,2,3,4,5,6, 10, ...., 16, 20, 21....

In [ ]:
# Smallest base possible?
# One- 11, 111, 1111, 
0
00
000
0000

# Two
0
1
10
11
100
101
110
111
1000

In [ ]:
#Base 5
Using only one place how many counts? 5
Using two digits, how many counts? 5*5
Using three digits, how many ... 125
Using k digits, 5^k

base b
using k digits, how many numbers can you represent: b^k

Q1: Choose your base between 3 and 13. And write upto 3 three digit numbers in that base.

Q2: Add/Substract single digit and multiple digits in your number system

Q3: Prepare a table of single digit multiplications in your number system.

Q4: Multiply multiple digits in your number system

In [ ]:
#base is 5
base5 -> base10
1  -> 1
2  -> 2

10 -> 5
11 -> 6
14 --> 9
20 -> 2*5
30 -> 3*5
40 -> 4*5
100 -> 5*5
200 -> 2*5^2 
220 == 200 + 20 -> 2*5^2 + 2*5 

324 -> 3*5^2 + 2*5 + 4
---
43 -> 4*5 + 3 -> 23

base10 --> base5
0 0
1 1
2 2
3 3
4 4
5 10
6 11
7 12
8 13
9 14
10 20
11 21
12 22

In [25]:
14 // 5

2

In [22]:
17 // 5

3

In [23]:
15 // 5

3

In [ ]:
62718 = 62710 + 8
((((6)*10 + 2)*10 + 7)*10 + 1)*10 + 8

4001333 = (((((4*5+0)*5+0)*5+1)*5+3)*5+3)*5 + 3

In [29]:
(((((4*5+0)*5+0)*5+1)*5+3)*5+3)*5 + 3

62718

In [10]:
num = 62718 = first_digit + 10*second_digit + 100*third_digit
--> first_digit + 5*second_digit + 5^2 * third_digit

In [9]:
num = 62718

In [27]:
(11 - 1)//5

2

In [28]:
11/5

2.2

In [10]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  3
12543

In [11]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  3
2508

In [12]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  3
501

In [13]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  1
100

In [14]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  0
20

In [15]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  0
4

In [16]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5
print(num)

Digit:  4
0

In [ ]:
4001333

In [7]:
d = num % 5
print("Digit: ", d)
rem = num - d
num = rem // 5

Digit:  2

In [19]:
num

12543

In [ ]:

Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

Q6. Write a strategy to convert a number in your base to base 10 in plain english or pseudo code or python

Q7. Write a strategy to convert a number in base N to base M in plain english or pseudo code or python

Q8.