+ Python basic statements
+ Conditions and If-else
+ Functions
+ Recursion
+ Array - how to define and set a value?

+ While
+ Binary Search

In [3]:
Q: SD

In [9]:
def total_for(A):
    sm = 0
    for e in A:
        sm += e
    return sm

In [22]:
def total_while(A):
    sm = 0
    i = 0
    while i < len(A):
        e = A[i]
#         print("adding ", i, e, sm)
        sm += e
        i += 1
    return sm

In [23]:
total_while([1,2])

3

In [ ]:
def total_while(A):

In [8]:
# arr = [1,2,3,4,]
mean_func([1,2,3,4,])

In [56]:
def mytotal(A, indent=''):
    print(f"{indent}mytotal({A})")
    ret = 0
    if len(A) > 0:
        ret = A[0] + mytotal(A[1:], indent + '   ')
    print(f"{indent}Returning: {ret} for total({A})")
    return ret

In [57]:
mytotal([])

mytotal([])
Returning: 0 for total([])

0

In [58]:
mytotal([1])

mytotal([1])
   mytotal([])
   Returning: 0 for total([])
Returning: 1 for total([1])

1

In [62]:
mytotal([1, 2, 3])
print(A)

mytotal([1, 2, 3])
   mytotal([2, 3])
      mytotal([3])
         mytotal([])
         Returning: 0 for total([])
      Returning: 3 for total([3])
   Returning: 5 for total([2, 3])
Returning: 6 for total([1, 2, 3])
[2, 3, 7, 8, 8]

In [61]:
A = [1,2,3, 7,8,8]
A = A[1:]
print(A)
print(A[1:])

[2, 3, 7, 8, 8]
[3, 7, 8, 8]

In [ ]:
mymin([1]) -> 1
mymin([1,2]) -> 1 -> smaller of 1 and mymin([2])
mymin([-1,1,2]) -> 1 -> smaller of -1 and mymin([1,2])

In [71]:
def mymin2(x, y):
    if x < y:
        return x
    return y

In [73]:
mymin2(-1, -3)

-3

In [88]:
def mymin(A):
    print("Calling with ", A)
    if len(A) == 1:
        return A[0]
    
    A_1 = mymin(A[1:])
    return mymin2(A[0], A_1)

In [89]:
mymin([1,2,3,2])

Calling with  [1, 2, 3, 2]
Calling with  [2, 3, 2]
Calling with  [3, 2]
Calling with  [2]

1

In [75]:
def mymax2(x, y):
    if x > y:
        return x
    return y

In [76]:
mymax2(4,5)

5

In [77]:
def mymax(A):
    if len(A) == 1:
        return A[0]
    
    A_1 = mymax(A[1:])
    return mymax2(A[0], A_1)

In [78]:
mymax([4,5,6,7])

7

In [119]:
def myreduce(A, f):
    if len(A) == 1:
        return A[0]
    else:
        A_1 = myreduce(A[1:], f)
        return f(A[0], A_1)

In [86]:
myreduce([1,2,3], mymax2)

3

In [87]:
myreduce([1,2,3], mymin2)

1

In [91]:
# Compute sum using myreduce?
def add2(x, y):
    return x + y

In [92]:
myreduce([1,2,3,4,5], add2)

15

In [93]:
myreduce([1,2,3,4,5,7,8,10], add2)

40

In [94]:
# calculate multiplication?
def pd2(x, y):
    return x*y

In [95]:
myreduce([1,2,3], pd2)

6

In [96]:
# calculate the distance in n dimensions
def pyth(x, y):
    return (x*x + y*y)**0.5

In [97]:
pyth(3, 4)

5.0

In [98]:
myreduce([3, 4], pyth)

5.0

In [102]:
myreduce([4, 5, 6, 7], pyth)

11.224972160321824

In [101]:
(4*4 + 5*5 + 6*6 + 7*7)**.5 # Norm

11.224972160321824

In [105]:
def mean(x, y):
    return (x + y)/2

In [106]:
myreduce([4, 5, 6, 7], mean)

4.875

# Associative and commutative

f(x, y) -> f(y, x)

f(x, y, z) -> f(f(x, y) + f(z))


x + y = y + x

x + (y + z) = (x + y) + z

In [110]:
myreduce([4, 5, 6, 7], add2)

22

In [117]:
A = [(4,1), (5,1), (6,1), (7, 1)]
# find sum and count in a single pass using reduce

# [(1,1), (2, 1)] -> (3, 2)
# [(4,1), (5, 1), (6, 1)] -> 15, 3

def add_sm(f, s):
    sm = f[0] + s[0]
    total = f[1] + s[1]
    return sm, total
myreduce(A, add_sm)

(22, 4)

In [115]:
A = [1,2,3]
A[:-1]

[1, 2]

In [118]:
def myreduce_end(A, f):
    if len(A) == 1:
        return A[-1]
    else:
        A_1 = myreduce(A[:-1], f)
        return f(A[-1], A_1)

In [122]:
from functools import reduce
reduce(add_sm, A)

(22, 4)

In [ ]:
# Apache spark - reduce
# Nvidia / GPU process - reduce

In [123]:
# reduce > for > while
# Safety wise, reduce is best
# Versatiliy wise while is best

In [129]:
def mymap(A, f):
    new_arr = []
    for e in A:
        new_el = f(e)
        new_arr.append(new_el)
    return new_arr

In [130]:
A = [1,2,3,4]
# double all elements
def dbl(x):
    return x*2
mymap(A, dbl)

[2, 4, 6, 8]

In [132]:
# double all elements
def sq(x):
    return x*x
mymap(A, sq)

[1, 4, 9, 16]

In [136]:
A = [1,2,3, 4] #-> [(1,1), (2, 3), 3, 4]

def to_tuple(x):
    return (x , 1)
A = mymap(A, to_tuple)
print("After map: ", A)

def add_sm(f, s):
    sm = f[0] + s[0]
    total = f[1] + s[1]
    return sm, total
sm, count = myreduce(A, add_sm)

print(f"Sum: {sm}, Count: {count}")
print("Mean: ", sm/count)

After map:  [(1, 1), (2, 1), (3, 1), (4, 1)]
Sum: 10, Count: 4
Mean:  2.5

In [146]:
A = [1,2,3, 4]

def to_tuple(x):
    return (x , 1)
A = map(to_tuple, A)
print("After map: ", A)

def add_sm(f, s):
    sm = f[0] + s[0]
    total = f[1] + s[1]
    return sm, total

sm, count = reduce(add_sm, A)

print(f"Sum: {sm}, Count: {count}")
print("Mean: ", sm/count)

After map:  <map object at 0x7fa57090f278>
Sum: 10, Count: 4
Mean:  2.5

In [147]:
A = [1,2,3, 4]
def add2(x, y):
    return (x+y)/2
reduce(add2, A)

3.125

# Dot product
X = [1,2]
Y = [5, 6]
dot(X, Y) = 1*5+2*6

X = [1,2, 3]
Y = [5, 6, 5]
dot(X, Y) = 1*5+2*6 + 3*5

In [151]:

def mydot(X, Y):
    if len(X) == 0:
        return 0
    ret = mydot(X[1:], Y[1:])
    return X[0]*Y[0] + ret

In [152]:
X = [1,2]
Y = [5, 6]
mydot(X, Y)

17

In [157]:
# for loop

def mydot_for(X, Y):
    tot = 0
    for i, x in enumerate(X):
        y = Y[i]
        tot += x*y
    return tot

In [158]:
X = [1,2]
Y = [5, 6]
mydot_for(X, Y)

17

In [159]:
A = [4,5,6]
for i, c in enumerate(A):
    print(i, c)

0 4
1 5
2 6

In [160]:
A = ["Sandeep", "GK", "nigam", "Ashutosh"]
for i, c in enumerate(A):
    print(i, c)

0 Sandeep
1 GK
2 nigam
3 Ashutosh

In [161]:
# while loop

def mydot_while(X, Y):
    i = 0
    tot = 0
    while i < len(X):
        tot = tot + X[i] * Y[i]
        i += 1
    return tot

In [162]:
X = [1,2]
Y = [5, 6]
mydot_while(X, Y)

17

In [166]:
XY = list(zip(X, Y))

In [167]:
XY

[(1, 5), (2, 6)]

In [179]:
XY = [(1, 5), (2, 6)] # 1*5 + 2*6

# use reduce to compute dot produce
def dot2(dp, e2):
    return dp + e2[0]*e2[1]
e1, e2 = XY
dot2(0, e2)

12

In [189]:
X = [1,2, 3]
Y = [5, 6, 5]
XY = list(zip(X, Y))
print(XY)

[(1, 5), (2, 6), (3, 5)]

In [199]:
def pd(tup): # (1,2) -> 1*2
    return tup[0]*tup[1]

def sm(x, y): # 1, 2 -> 3
    return x+y

mult = map(pd, XY) # [(1,5), (2, 6), (3, 5)] -> [5, 12, 15]
reduce(sm, mult)

32

In [196]:
list(map(lambda x: x*2, [1,2,3,4]))

[2, 4, 6, 8]

In [200]:
# Code myzip

# myzip([1,2, ...], [5, 6, ...])
#[(1, 5), (2, 6), ...]

def myzip(X, Y): 
    XY = []
    for i in range(len(X)):
        new_e = (X[i], Y[i])
        XY.append(new_e)
    return XY

In [202]:
myzip([1,2,3], ["Sandeep", "GK", "A"])

[(1, 'Sandeep'), (2, 'GK'), (3, 'A')]