In [ ]:
flatten_nested_list([1, [2, [3, 4], 5], 6])

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3,4] -> [1,2,3,4]

[1,[2,3],[4]] -> [1,2,3,4]

[1,2,3,[[4], 5]] -> [1,2,3,4,5]

[3,4,1,2, [6,7, [7, 9, [-10, 3]]]] -> [3,4,1,2,6,7,7,9, -10, 3]

# Approach 1

In [1]:

l = [1, [2, [3, 4], 5], 6]
flatten_list(l)

In [11]:
l = [1, [2, [3, 4], 5], 6]
e = l[0]
print(e, type(e))

1 <class 'int'>

In [13]:
type(l[0]) == list

False

In [12]:
type(l[1]) == list

True

In [9]:
print(l[1], type(l[1]))

[2, [3, 4], 5] <class 'list'>

In [7]:
l[2]

6

In [16]:
empty = []
result = [1,2,3]
empty.extend(result)
empty

[1, 2, 3]

In [23]:
empty = [1,2,3]
result = [5, 6, [7]]
# empty.extend(result)
empty = empty + result
empty

[1, 2, 3, 5, 6, [7]]

In [24]:
l = [1, [2, [3, 4], 5], 6]
for e in l:
    print(e)

1
[2, [3, 4], 5]
6

In [34]:
def flatten_list(l):
    print("Flattening: ", l)
    empty = []
    for e in l:
        print("e: ", e)
        if type(e) == list:
            result = flatten_list(e)
            empty.extend(result)
        else:
            empty.append(e)
    print("Empty: ", empty)
    return empty

In [32]:
flatten_list([1,2,3])

Flattening:  [1, 2, 3]
e:  1
e:  2
e:  3

[1, 2, 3]

In [33]:
flatten_list([1,[2,3]])

Flattening:  [1, [2, 3]]
e:  1
e:  [2, 3]
Flattening:  [2, 3]
e:  2
e:  3

[1, 2, 3]

In [35]:
flatten_list([1, [2, [3, 4], 5], 6])

Flattening:  [1, [2, [3, 4], 5], 6]
e:  1
e:  [2, [3, 4], 5]
Flattening:  [2, [3, 4], 5]
e:  2
e:  [3, 4]
Flattening:  [3, 4]
e:  3
e:  4
Empty:  [3, 4]
e:  5
Empty:  [2, 3, 4, 5]
e:  6
Empty:  [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [37]:
a = [1,2,3]
b = [4,5]
a.append(b)
a

[1, 2, 3, [4, 5]]

In [38]:
a = [1,2,3]
b = [4,5]
a.extend(b)
a

[1, 2, 3, 4, 5]

In [39]:
def myextend(a, b): # it appends elements of b list in a
    for e in b:
        a.append(e)
    return a

In [44]:
a = [1,2,3]
b = [4,5, [7, 8]]
myextend(a, b)
print(a)
a.append(b)
print(a)

[1, 2, 3, 4, 5, [7, 8]]
[1, 2, 3, 4, 5, [7, 8], [4, 5, [7, 8]]]

In [46]:
a = [1,2,3]
b = [4,5]
c = a + b
print(c)

[1, 2, 3, 4, 5]

In [47]:
a

[1, 2, 3]

In [48]:
c

[1, 2, 3, 4, 5]

In [ ]:
# Tanya

def flattened_nested_list(nested_list, empty):
    print(f"Empty : {empty}")
    print(f"Nested List : {nested_list}")
    for element in nested_list:
        if(type(element) == list):
            flattened_nested_list(element, empty) 
        else:
            empty.append(element)

In [ ]:
# Jeet Dubey (Aug 23, 2025, 11:23 AM)
def flatter_list(nested_list, result_list):
    for i in nested_list:
        if isinstance(i, int):
            result_list.append(i)
        else:
            flatter_list(i, result_list)  # pass i (sublist)
    return result_list

In [54]:
e = 1
print(isinstance(e, float)) 
print(type(e) == float)

False
False

In [55]:
# Gopala Krishnan
def flatten_nested_list(A):
    c=[]
    print(A)
    for e in A:
        if(type(e)==list):
            c.extend(flatten_nested_list(e))
        else: 
            c.append(e)
        print(c)
    return c

In [ ]:
# Compute the sum of a tree
sum_tree([1,2,3]) # 6
sum_tree([1, [2,3]]) # 6
sum_tree([1, [2, [3, [4, 5]]]]) # 15

In [ ]:
def sum_tree(tree):
    total = 0
    for e in tree:
        if isinstance(e, list):
            total = total+sum_tree(e)
        else:
            total = total + e
    return total

In [ ]:
def sum_tree(l):
    total = 0
    for e in l:
        if type(e) == list:
            
        else:
            
    return total

In [56]:
# Shubham Sharma (Aug 23, 2025, 11:41 AM)
def sum_of_tree(i, inputList):
    if i >= len(inputList):
        return 0
    
    curr = 0 
    if type(inputList[i]) == list:
        curr += sum_of_tree(0, inputList[i]) 
    else:
        curr += inputList[i] 
        
    curr += sum_of_tree(i + 1, inputList)
    return curr
 
# Jeet Dubey (Aug 23, 2025, 11:41 AM)
def sum_of_tree(list):
    total = 0
    for i in list:
        if isinstance(i, int):
            total += i
        else:
            total += sum_of_tree(i)
    return total

list = [1, [2, [3, 4], 5], 6]
total_sum = sum_of_tree(list)
print(total_sum)

# Ashutosh Mishra (Aug 23, 2025, 11:45 AM)
def sum_tree(tree):
    sm = 0
    for e in tree:
        if type(e) == list:
            sm += sum_tree(e)
        else:
            sm += e
    return sm
 
# Gopala Krishnan (Aug 23, 2025, 11:45 AM)
def sum_of_the_tree(A):
    sum=0
    for e in A:
        if(type(e)==list):
            sum=sum+sum_of_the_tree(e)
        else:
            sum=sum+e
    return sum

21

In [ ]:
# Calculator - expression as a list
# + , - , / *
1 # 1
-1 # 1
["+", 1, 2] # 6
["-", 2, 3] # -1
["*", 1, 2] # 2
["/", 1, 2] # .5
["^", 2, 5] # 32 
["+", 1, ["*", 1, 2]] # ["+", 1, 2] == 2

In [22]:
def calculator(exp):
#     print(type(exp), exp)
    if not isinstance(exp, list):
        return exp
    op = exp[0]
    v1 = calculator(exp[1])
    v2 = calculator(exp[2])
    if op == "+":
        return v1 + v2
    if op == "-":
        return v1 - v2
    if op == "/":
        return v1 / v2
    if op == "*":
        return v1 * v2
    if op == "^":
        return v1 ** v2
    return 0

In [13]:
isinstance(["*", 2, 3], int)

False

In [14]:
type(["*", 2, 3]) == list

True

In [16]:
test_cases = [
    [1, 1],
    [-1, 1],
    [["+", 1, 2], 3],
    [["-", 2, 3], -1],
    [["*", 1, 2], 2],
    [["/", 1, 2], .5],
    [["^", 2, 5], 32],
    [["+", 1, ["*", 1, 2]], 2],
]
for testcase in test_cases:
    exp, expected = testcase
    actual = calculator(exp)
    print(f"Exp: {exp}, Actual: {actual}, Expected: {expected}")

Exp: 1, Actual: 1, Expected: 1
Exp: -1, Actual: -1, Expected: 1
Exp: ['+', 1, 2], Actual: 3, Expected: 3
Exp: ['-', 2, 3], Actual: -1, Expected: -1
Exp: ['*', 1, 2], Actual: 2, Expected: 2
Exp: ['/', 1, 2], Actual: 0.5, Expected: 0.5
Exp: ['^', 2, 5], Actual: 7, Expected: 32
Exp: ['+', 1, ['*', 1, 2]], Actual: 3, Expected: 2

In [ ]:
Home Work:
    1. Include more operators: "sqrt", "log", 
    2. Let the number of arguments be a function of operator, 
        e.g. for "+" and "*", there can be many arguments, in case of "-" and "/", there can be only two arguments
        in case of "sqrt", there will only one argument

In [27]:
def sum_digit(num):
    if num == 0:
        return 0
    new_num = num // 10
    last_digit = num %10
    return sum_digit(new_num) + last_digit

In [30]:
sum_digit(1234)

10

In [33]:
l = [1,2, 3]
l.append(10)
l

[1, 2, 3, 10]

In [32]:
l.clear()
l

[]

In [34]:
l

[1, 2, 3, 10]

In [35]:
l1 = l.copy()

In [39]:
l1[0] = 100
l1

[100, 2, 3, 10]

In [40]:
l

[1, 2, 3, 10]

In [41]:
l2 = l
l2, l

([1, 2, 3, 10], [1, 2, 3, 10])

In [42]:
l2[0] = 167
l2

[167, 2, 3, 10]

In [43]:
l

[167, 2, 3, 10]

In [44]:
a, b = 100, 200
c = a

In [45]:
c = 10

In [46]:
c, a

(10, 100)

In [47]:
a = "sandeep"
b = a

In [48]:
address(a)

NameError: name 'address' is not defined

In [49]:
hex(a)

TypeError: 'str' object cannot be interpreted as an integer

In [50]:
a = 10
b = a
id(a)

94726301637600

In [51]:
id(b)

94726301637600

In [52]:
a = 20
id(a)

94726301637920

In [53]:
id(b)

94726301637600

In [54]:
a = [1,2,3]
b = a
id(a)

140146468168072

In [55]:
id(b)

140146468168072

In [56]:
a[0] = 10
a

[10, 2, 3]

In [57]:
b

[10, 2, 3]

In [58]:
id(a)

140146468168072

In [59]:
id(b)

140146468168072

In [60]:
a = "sandeep"
b = a
id(a), id(b)

(140146468863480, 140146468863480)

In [61]:
a[0]

's'

In [62]:
b[0]

's'

In [63]:
a[0] = 10

TypeError: 'str' object does not support item assignment

In [64]:
l = [1,2,3]

In [70]:
l.index(3)

2

In [71]:
l.pop()

3

In [73]:
l = [1,2,3,4,5]
l.remove(5)

In [74]:
l

[1, 2, 3, 4]

In [75]:
l.pop()

4

In [84]:
l = list("sandepe")

In [85]:
l.remove('e')

In [86]:
l

['s', 'a', 'n', 'd', 'p', 'e']

In [87]:
l.pop()

'e'

In [88]:
l.pop()

'p'

In [89]:
l

['s', 'a', 'n', 'd']

In [90]:
l.reverse()

In [91]:
l

['d', 'n', 'a', 's']

In [92]:
l.sort()

In [93]:
l

['a', 'd', 'n', 's']

In [101]:
l = [10,-2,31,40,5]
l.sort()
l

[-2, 5, 10, 31, 40]

In [95]:

def key_method(x):
    return (x - 3)**2

In [106]:
l = [1,2,3,4,5] # [(4, 1), (1,2), (0, 3), (1, 4), (4, 5)]
l.sort(key=key_method)

In [107]:
l

[3, 2, 4, 1, 5]

In [109]:
l = ["sandeep", 'Anubhav', 'Nigam', 'Shukant']
l.sort()
l

['Anubhav', 'Nigam', 'Shukant', 'sandeep']

In [111]:
def key_lwr(name):
    return name.lower()

In [112]:
l.sort(key=key_lwr)

In [113]:
l

['Anubhav', 'Nigam', 'sandeep', 'Shukant']

In [119]:
def key_f(name):
    return name.lower()[::-1]

In [120]:
key_f("sandeep")

'peednas'

In [121]:
l.sort(key=key_f)

In [122]:
l

['Nigam', 'sandeep', 'Shukant', 'Anubhav']

In [124]:
a = [1,2,3,10, -5, 2, 1, 6, 4, -4, 5]
pivot = 4
def keyf(num):
    return abs(num - pivot)
a.sort(key=keyf)
a

[4, 3, 5, 2, 2, 6, 1, 1, 10, -4, -5]

In [130]:
a = [1,2,3,10, -5, 2, 1, 6, 4, -4, 5]
a1 = []
for e in a:
    a1.append((keyf(e), e))
a1.sort()
a1

[(0, 4),
 (1, 3),
 (1, 5),
 (2, 2),
 (2, 2),
 (2, 6),
 (3, 1),
 (3, 1),
 (6, 10),
 (8, -4),
 (9, -5)]

In [134]:
(3, 1) > (2, 2)

True

In [136]:
(1,2,3,3) > (1,2,3,1) #left most is most significant

True

In [137]:
a = [1,2,3,4, 6]
a.sort(reverse=True)

In [138]:
a

[6, 4, 3, 2, 1]

In [139]:
l = ["sandeep", 'Anubhav', 'Nigam', 'Shukant']

In [140]:
def kf(name):
    return name[1]
l.sort(key=kf)
l

['sandeep', 'Shukant', 'Nigam', 'Anubhav']

In [143]:
points = [(1,2), (4,5), (6,7), (1, 1), (2, 1)]
point = (3, 4)
# sort the points based on their distances from our point
def keyf(p):
    d = (p[0] - point[0])**2 + (p[1] - point[1])**2
    print(f"{point} <> {p} : {d}")
    return d
points.sort(key=keyf)

(3, 4) <> (1, 2) : 8
(3, 4) <> (4, 5) : 2
(3, 4) <> (6, 7) : 18
(3, 4) <> (1, 1) : 13
(3, 4) <> (2, 1) : 10

In [144]:
points

[(4, 5), (1, 2), (2, 1), (1, 1), (6, 7)]