In [ ]:
# 1. Walk through our existing project

# 2. We can try doing the actual work rightaway and work backwards

# 3. Code the gradient descent for house pricing

In [1]:
# Code the gradient descent for house pricing

import pandas as pd

df = pd.read_csv('housing.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
# Hide some data from you. so that you may realize if you are generalizing well or not.

# Hide some data from the model. 
# So that it we can evaluation if the model is able to perform on unseen data


X_valid, y_valid, X_train, y_train

model.fit(X_train, y_train)
error(y_valid, model.predict(X_valid))

In [ ]:

# Convert our data to X[m, n], and y[m]

# Split the data into (X_test, y_test) & (X_train, y_train)
# Split the X-train into X_valid and X_train

# Convert Categorical  varibles into one-hot encoding
# Missing
# Standardiszation

# for model in [DEcisiotnTree, GD, NN, XGB, NB]
    # model1.fit(X_train, y_train)

    # Loss calculation and gradient descent will happend using X_train, y_train 
    # and evaluating of the mode will happend using X_valid and y_valid

    # evaluate(model1.predict(X_valid), y_valid)

In [ ]:
#SGDRegressor
from sklearn.linear_model import SGDRegressor

# Initialize a model
sgdr = SGDRegressor() # weights, 

# Train
sgdr.fit(X, y) # initializat weights, tweak the weights using GD ....

# predict
y = sgdr.predict(X)

NameError: name 'X' is not defined

In [7]:
from sklearn.preprocessing import StandardScaler

s = StandardScaler()
s.fit_transform([[1],[2]])

array([[-1.],
       [ 1.]])

In [8]:
import numpy as np

In [13]:
arr = np.array([1,2])
mu = 1.5
sd = np.sqrt(sum((arr-mu)**2)/2)

In [14]:
(arr - mu)/sd

array([-1.,  1.])

In [ ]:
Selling a car:

Make:
Ford
Toyota
Mitsubisi